*{
    margin:0;
    font-family: Arial;
    border: border-box;
}

.navbar{
    height:60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    height: 50px;
    width: 100px;
}


.logo{
    background-image: url(amazon_logo.png);
    background-size:cover ;
    height: 50px;
    width: 100%;
}

.border{
    border: 1.5px solid transparent;
    padding: 4px;
}

.border:hover{
    border: 1.5px solid white;
}

/*Box2*/
.address_first{
    color: #CCCCCC;
    font-size: 0.85rem;
    margin-left: 15px;
}

.address_second{
    color: #FFFFFF;
    margin-left: 3px;
}

.address-icon{
    display: flex;
    align-items: center;
}

/**Box3**/
.nav_search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}

.search_select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.input_search{
    width: 100%;
    font-size: 1rem;
}

.search_icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}

.nav_search:hover{
    border: 2px solid orange;
}

/**Box4**/
.span{
    font-size: 0.7rem;
}

.nav_second{
    font-size: 0.85rem;
    font-weight: 700;
}

/**Box5**/

.nav_cart i{
    font-size: 30px;
}

.nav_cart{
    font-size: 0.85rem;
    font-weight: 700;
}

/**Panel**/
.panel{
    height: 40px;
    background-color: #222f32;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-options p{
    display: inline;
    margin: 15px;
}

.panel-options{
    width: 70%;
    font-size: 0.85rem;
}

.panel_deals{
    font-size: 0.9rem;
    font-weight: 700;
}

.hero-section{
    background-image:url(hero_image.jpg);
    height: 380px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero_message{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    position: relative;
    width: 80%;
    margin-bottom: 25px;
}

.hero_message a{
    color: #007185;
    text-decoration: none;
}

/**Shop-Section**/

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}

.box{
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    height:400px;
    width:20%;
    background-color: white;
    padding: 0px 20px 15px;
    margin-top: 15px;
}

.box-img{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content{
    margin-top: 0.45rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content p{
    color: #007185;
}

/**Footer**/
.footer{
    margin-top: 15px;
}

.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

ul{
    margin-top: 20px;
}

ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #DDDDDD;
}

.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    background-image: url(amazon_logo.png);
    background-size:cover ;
    height: 50px;
    width: 100px;
}

.foot-panel4{
    background-color: #0f1111;
    color: white;
    height: 76px;
    font-size: 0.7rem;
    text-align: center;
}

.pages{
    padding-top: 25px;
}

.copyright{
    text-align: center;
}

@media(max-width: 768px){
    /* Navbar*/
    .navbar{
        flex-wrap: wrap;
        height: auto;
        padding: 8px 0;
    }

    .nav-logo{
        width: 100%;
        justify-content: center;
        display: flex;
    }

    .nav-address,
    .nav_signin,
    .nav_return,
    .nav_cart{
        display: none;
    }

    .nav_search{
        width: 90%;
        margin: 10px auto;
    }

    /*Panel*/
    .panel-options{
        display: none;
    }

    /*Shop section*/
    .box{
        width: 90%;
    }

    /*Footer*/
    .foot-panel2{
        flex-direction: column;
        height: auto;
        padding-bottom: 20px;
    }

    .foot-panel2 ul{
        margin-bottom: 20px;
    }
}

@media(min-width: 769px)and(max-width: 1024px){
    .box{
        width: 45%;
    }

    .nav_search{
        width: 500px;
    }
}
